<div class="element" id="<%= dom_id clinic %>">
  <p>
    <strong>Name:</strong>
    <%= clinic.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= clinic.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= clinic.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= clinic.email %>
  </p>

  <p>
    <strong>Founded in:</strong>
    <%= clinic.foundation_year %>
  </p>

</div>
