<h1 style="color: #AB82FF">Clinics</h1>

<div id="clinics">
  <%= form_with(url: clinics_path, method: :get) do |form| %>
    <%= form.text_field :query, placeholder: 'Search clinics' %>
    <%= form.submit 'Search' %>
  <% end %>

  <% @clinics.each do |clinic| %>
    <%= render clinic %>
    <p>
      <%= link_to "Show this clinic", clinic %>
    </p>

  <% end %>

  <%= will_paginate @clinics %>

</div>

<p><%= link_to "New clinic", new_clinic_path %></p>
<p>
  Sort by:
  <%= link_to 'Name (asc)', { sort_field: 'name', sort_direction: 'asc' } %>
  <%= link_to 'Name (desc)', { sort_field: 'name', sort_direction: 'desc' } %>
  <%= link_to 'Created at (asc)', { sort_field: 'created_at', sort_direction: 'asc' } %>
  <%= link_to 'Created at (desc)', { sort_field: 'created_at', sort_direction: 'desc' } %>
</p>
<p><%= link_to 'Main page', root_path %></p>
<p>