<p style="color: green"><%= notice %></p>

<%= render @clinic %>

<div>
  <%= link_to "Edit", edit_clinic_path(@clinic) %> |
  <%= link_to "Back", clinics_path %>

  <%= button_to "Delete", @clinic, method: :delete %>
</div>
