<div id="<%= dom_id doctor %>">

  <p>
    <strong>Middle_Name:</strong>
    <%= doctor.middle_name %>
  </p>

  <p>
    <strong>First_Name:</strong>
    <%= doctor.first_name %>
  </p>

  <p>
    <strong>Last_Name:</strong>
    <%= doctor.last_name %>
  </p>

  <p>
    <strong>Birth_date:</strong>
    <%= doctor.birth_date %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= doctor.department.name %>
  </p>

  <p>
    <strong>Specialty:</strong>
    <%= doctor.specialty.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= doctor.phone %>
  </p>

</div>
