<p style="color: green"><%= notice %></p>

<%= render @doctor %>

<div>
  <%= link_to "Edit", edit_doctor_path(@doctor) %> |
  <%= link_to "Back", doctors_path %>

  <%= button_to "Delete", @doctor, method: :delete %>
</div>
